<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find i214_description)/worlds/world1.world"/>
  </include>
</launch>
<!-- this launch file launches a world saved in i214_description/worlds
	save any gazebo world as sdf in that folder and change world1 to your world name to use it-->
